# Ignore node_modules directory
node_modules/
**/node_modules/

# Ignore logs
logs/

# Ignore build artifacts
dist/
**/dist/
build/
**/build/

# Ignore environment variables
.env

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*

# Ignore VS Code settings
**/.vscode/

# Ignore editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db